{$DOMAIN} {
  handle /api/* {
    reverse_proxy api:3000
  }

  handle /socket.io/* {
    reverse_proxy api:3000
  }

  handle /janus* {
    reverse_proxy {$JANUS_HOST}:8088
  }

  @ws {
    path /ws
    header Connection *Upgrade*
    header Upgrade websocket
  }
  handle @ws {
    reverse_proxy {$JANUS_HOST}:8188
  }

  handle {
    root * /srv
    try_files {path} /center.html
    file_server
  }
}
